.red{
    color:white;
    background-color: red
}
.class1{
 background-color: aqua;
 color:blueviolet;   
}
.c1{
    background-color:black;
}
.c2{
    color:white;
}
#ok{
    background-color: purple;
    color:white;
}
